.box{
    border-style: solid;
    border: gray;
}

.hemispheres img{
    max-width: 75%;
    max-height: auto;
    margin: auto;
    display:block;
    margin-top: 5%;
}

.hemispheres h4{
    text-align: center;
}

